<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YSL8SGCT2W"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YSL8SGCT2W');
  </script>


  <!-- Google tag (gtag.js)
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script> -->

  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/profile_jiaen_3_croped.png"> -->
  <link rel="icon" type="image/png" href="image/profile_jiaen_3_croped.png">



  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:1000px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">

            <td style="padding:2.5%;width:35%;max-width:35%">
              <!-- <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.jpg"> -->
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile_jiaen_3_croped.png">
            </td>
            
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Jiaen Yu
              </h1>
              <p>
                I am a first year PhD student in the <a href="https://datascience.ucsd.edu//">Halıcıoğlu Data Science Institute (HDSI)</a> at University of California San Diego, advised by Dr. <a href="https://datascience.ucsd.edu/people/soohyun-nam-liao/">Soohyun Nam Liao</a>. 
                <!-- My research interest including xxxxxx. I'm also interested in xxxxx. -->
                My research interest lies in Computing Eduation, especially developing interactive systems or tools with human-centered design to support students.
              </p>
<!-- 
              <p>
                My research interest including xxxxxx. I'm also interested in xxxxx.
                <a href="https://datascience.ucsd.edu//">Halıcıoğlu Data Science Institute (HDSI)</a>
                https://cse.ucsd.edu/
              </p> -->

              <p>
                Before I join HDSI, I obtained an M.S. in Computer Science from <a href="https://cse.ucsd.edu/">CSE</a> department of UCSD, and B.S. in Electronic Information Science & Technology from Jiangsu University of Science and Technology. 
              </p>



              <!-- <p>
                From 2011 to 2017, I worked at <a href="https://www.intel.com">Intel</a>, as part of <a href="https://www.intelrealsense.com/">Intel RealSense</a>. I primarily designed computer vision algorithms for efficient hardware ASICs, including the Intel RealSense <a href="https://software.intel.com/en-us/articles/realsense-r200-camera">R200</a> and <a href="https://software.intel.com/en-us/realsense/d400">D400</a> RGB-D sensors. Additionally, I worked on <a href="https://github.com/IntelRealSense/librealsense">software APIs</a>, <a href="https://patents.google.com/patent/US9992474B2">active illumination systems</a>, <a href="https://patents.google.com/patent/US9304597">human-computer interaction devices</a>, and helped develop demos for trade shows, including CES 2012-2016.
              </p>
              <p>
                I have an MS in Computer Science (AI focus) from <a href="http://cs.stanford.edu">Stanford University</a>, where I was a research assistant for <a href="http://svl.stanford.edu/">Silvio Savarese</a> and a teaching assistant for <a href="http://svl.stanford.edu/">Fei-Fei Li</a> (<a href="http://vision.stanford.edu/teaching/cs131_fall1617/">CS131</a> & <a href="http://cs231n.stanford.edu/2017/">CS231N</a>). I have a BS in EECS from <a href="http://www.eecs.berkeley.edu/">UC Berkeley</a>, where I worked in <a href="https://people.eecs.berkeley.edu/~pister/">Kris Pister's</a> lab.
              </p> -->


              <p style="text-align:center">
                <!-- <a href="https://github.com/yujiaen1999">GitHub</a> &nbsp;/&nbsp; -->

                <a href="https://github.com/yujiaen1999">
                  <svg height="16" width="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="vertical-align:middle; margin-right:5px;">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.01.08-2.11 0 0 .67-.22 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.91.08 2.11.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.19 0 .21.15.46.55.38A8.01 8.01 0 0016 8c0-4.42-3.58-8-8-8z"/>
                  </svg>
                  GitHub
                </a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/jiaenyu-ucsd">
                  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                  LinkedIn
                </a> &nbsp;/&nbsp;
                
                <a href="https://x.com/jiaenyu2024" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248 204" fill="currentColor" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                    <path d="M248 12.9c-9.3 4.1-19.3 6.8-29.8 8.1 10.7-6.4 18.8-16.5 22.7-28.6-10 6-21 10.3-32.7 12.7-9.4-10-22.8-16.2-37.7-16.2-28.7 0-52 23.3-52 52 0 4.1.5 8.1 1.4 11.9C75.7 72.5 40.2 48.6 16.7 14.5 12.4 22 9.9 30.8 9.9 40c0 18 9.2 33.8 23.2 43.2-8.5-.2-16.5-2.6-23.4-6.5v.7c0 25.1 17.9 46.1 41.7 50.9-4.3 1.2-8.8 1.8-13.5 1.8-3.3 0-6.5-.3-9.6-.9 6.5 20.3 25.5 35.1 48 35.5-17.5 13.7-39.5 21.9-63.4 21.9-4.1 0-8.1-.2-12-.7C22.4 193 48.9 204 78.5 204c94.3 0 146-78.2 146-146v-6.6c10.1-7.3 18.8-16.5 25.7-27z"></path>
                  </svg>
                  X (Twitter)
                </a> &nbsp;/&nbsp;
                
                <a href="mailto:jiy037@ucsd.edu">
                  <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="Email" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                  Email
                </a> &nbsp;/&nbsp;
                
                <a href="pdfs/CV_Jiaen_2025.pdf">
                  <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="CV" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                  CV
                </a>
                

                <!-- <a href="https://scholar.google.com/citations?user=GCYG4GoAAAAJ">Google Scholar</a> &nbsp;/&nbsp; -->
                <!-- <a href="www.linkedin.com/in/jiaenyu-ucsd"> LinkedIn </a>  &nbsp;/&nbsp;
                <a href="https://x.com/jiaenyu2024"> X(Twitter)</a> &nbsp;/&nbsp;
                <a href="mailto:jiy037@ucsd.edu"> Email</a> &nbsp;/&nbsp;
                <a href="pdfs/CV_Jiaen_2025.pdf"> CV</a> -->
                
              </p>
            </td>

            <!-- <td style="padding:2.5%;width:40%;max-width:40%"> -->
              <!-- <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.jpg"> -->
              <!-- <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile_jiaen_3_croped.png"> -->
            <!-- </td> -->

          </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <!-- 左侧：Education -->
            <td style="padding:2.5%;width:40%;vertical-align:top;">
              <h2>🎓 Education</h2>
              <ul>
                <li>
                  <strong>Ph.D. in Data Science</strong>, <br> University of California San Diego, 2024 -
                </li>
                <li>
                  <strong>M.S. in Computer Science</strong>, <br> University of California San Diego, 2021 - 2023
                </li>
                <li>
                  <strong>B.Sc. in Electronic Information Sci & Tech</strong>, <br> Jiangsu University of Sci & Tech, 2017 - 2021
                </li>
              </ul>
            </td>
        
            <!-- 右侧：News -->
            <td style="padding:2.5%;width:60%;vertical-align:top;">
              <h2>🎉 News</h2>
              <ul>
                <li>
                  <strong>Jan. 2025</strong> - I will serve as a Student Volunteer for <a href="https://sigcse2025.sigcse.org/">SIGCSE TS 2025</a>! See you in Pittsburgh!
                </li>
                <!-- https://sigcse2025.sigcse.org/ -->
                
                <li>
                  <strong>Nov. 2024</strong> - Our work <em>CompassX</em> has been accepted as a <a href="https://sigcse2025.sigcse.org/details/sigcse-ts-2025-posters/158/Student-Usage-of-Metacognition-Promoting-Tool-in-a-CS2-Course-and-its-Relationship-wi">poster at SIGCSE 2025</a>!
                </li>
                <!-- https://sigcse2025.sigcse.org/details/sigcse-ts-2025-posters/158/Student-Usage-of-Metacognition-Promoting-Tool-in-a-CS2-Course-and-its-Relationship-wi -->
                
                
                <!-- <li>Content 2</li>
                <li>Content 3</li> -->
              </ul>
            </td>
          </tr>
        </table>

        

<!-- 
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <ul>
                <li>Content 1</li>
                <li>Content 2</li>
                <li>Content 3</li>
              </ul>
            </td>
          </tr>
        </table> -->

        

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>📖 Publications</h2>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:25px;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'publication' and post.author == 'Jiaen Yu'  %}

          <tr>
            <td style="padding:0.5em 0;width:90%;vertical-align:middle;">
              <!-- <td style="padding:2.5%;width:100%;vertical-align:middle"> -->
              <!-- Title with larger font size -->
              <h3 style="font-size:1.1em; margin:0; font-weight:bold;">{{ post.title }}</h3>
              <!-- Authors -->
              <p style="margin:0.2em 0;">{{ post.authors }}</p>
              <!-- Venue -->
              <p style="margin:0.2em 0; font-style:italic;">{{ post.venue }}, {{ post.date | date: "%Y" }}</p>
              <!-- Links -->
              <p style="margin:0;">
                {% if post.arxiv %}
                <a href="{{ post.arxiv }}" style="margin-right:5px;">arxiv</a>
                {% endif %}
                {% if post.code %}
                <a href="{{ post.code }}" style="margin-right:5px;">code</a>
                {% endif %}
                {% if post.website %}
                <a href="{{ post.website }}" style="margin-right:5px;">website</a>
                {% endif %}
              </p>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>







        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>🌟 Research Projects</h2>
              <!-- <p>
                I'm interested in xxxxxxxxxx
              </p> -->
            </td>
          </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' and post.author == 'Jiaen Yu' %}

          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{ site.baseurl }}/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3 style="font-size:1.1em">{{post.title}}</h3>
              <!-- <br> -->
              <!-- {{post.authors}} -->

              <!-- <br> -->
              <!-- <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} -->
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

<!-- 
        <br>
        <br>
        <br> -->



        
        









<!--         
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Intel Projects</h2>
              <p>Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly disclosed work
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->
<!-- 
        <br>
        <br>
        <br> -->
<!--         
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
              <ul>
                <li>COSMOS Cluster Assistant - UC San Diego Jacobs School of Engineering - 2024</li>
                <!-- <li>Content 2</li>
                <li>Content 3</li> -->
              </ul>
            </td>
          </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Academic Service</h2>
              <ul>
                <li>Reviewer for ACM SIGCSE TS 2025</li>
                <!-- <li>Content 2</li>
                <li>Content 3</li> -->
              </ul>
            </td>
          </tr>
        </table>



        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

